<p>todo-list works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let listtodo of listTodo">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-text">userId : {{listtodo.userId}}</p>
                  <p class="card-text">id : {{listtodo.id}}</p>
                  <p class="card-text">title : {{listtodo.title}}</p>
                  <p class="card-text">completed : {{listtodo.completed}}</p>

                </div>
              </div>
        </div>
        <div style="margin-left: 45%;">
        <button class="btn btn-primary" style="width: 100px;height: 50px;"(click)="getBilan()">Bilan</button>
        <p class="card-text" >calcul : {{c}}</p>
    </div>
    </div>
</div>
